body {
    position: 0;
    height: 100%;
}

header {
    background-color: rgb(217, 217, 217);
    padding: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header .profile-btn {
    background-color: rgb(120, 174, 191);
    border-radius: 5px;
    padding: 2%;
    height: 50%;
    align-self: left;
    text-align: left;
    border: none;
    font-size: x-large;
}

header .cart-btn {
    background-color: rgb(120, 174, 191);
    border-radius: 5px;
    padding: 2%;
    height: 50%;
    align-self: left;
    text-align: left;
    border: none;
    font-size: x-large;
}

.round-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}

.item-count {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 2px 4px;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }

header .shop-btn {
    background-color: rgb(120, 174, 191);
    border-radius: 5px;
    padding: 2%;
    height: 50%;
    align-self: left;
    text-align: left;
    border: none;
    font-size: x-large;
}
header .clock-btn {
    background-color: rgb(120, 174, 191);
    border-radius: 5px;
    padding: 2%;
    height: 50%;
    align-self: left;
    text-align: left;
    border: none;
    font-size: x-large;
}
header .logout-btn {
    background-color: rgb(120, 174, 191);
    border-radius: 5px;
    padding: 2%;
    height: 50%;
    align-self: left;
    text-align: left;
    border: none;
    font-size: x-large;
}
header button {
    position: relative;
    display: inline-block;
}
header button:hover {
    cursor: pointer;
    background-color: rgba(120, 174, 191, 0.5);
}

header button .tooltip-text {
    visibility: hidden;
    background-color: rgba(120, 174, 191, 1);
    color: white;
    text-align: center;
    padding: 3px;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: large;
}
  
header button:hover .tooltip-text {
    visibility: visible;
}

.display-return {
    display: flex;
    align-self: center;
    font-size: x-large;
    text-decoration: none;
    background-color: rgb(255, 112, 112);
    color: white;
    cursor: pointer;
    width: auto;
}

.display-return a{
    color: white;
    text-decoration: none;
}

h3 {
    text-align: center;
}

.table {
    width: 100%;
    padding: 2% 1%;
}  

.table .table-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
} 

.table .table-content .table-content-text {
    text-decoration: underline;
} 

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: x-large;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.table .table-options {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.table .table-content td .view-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    text-decoration: none;
    background-color: rgb(88, 151, 165);
    color: white;
    cursor: pointer;
} 

.table .table-content td a{
    text-decoration: none;
    color: white;
    cursor: pointer;
} 

.table .table-content td .edit-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    text-decoration: none;
    background-color: rgb(151, 166, 93);
    color: white;
    cursor: pointer;
}

.table .table-content .buy-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    text-decoration: none;
    background-color: rgb(255, 112, 112);
    color: white;
    cursor: pointer;
}

footer {
    background-color: rgb(217, 217, 217);
    padding: 3.5%;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: x-large;
}