body {
    position: 0;
    height: 100%;
}

header {
    background-color: rgb(217, 217, 217);
    padding: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    header .header-btn {
        background-color: rgb(120, 174, 191);
        border-radius: 5px;
        padding: 2%;
        height: 50%;
        align-self: center;
        text-align: center;
        border: none;
        font-size: x-large;
    }
    header .header-btn:hover {
        cursor: pointer;
        background-color: rgba(120, 174, 191, 0.5);
    }
    header .header-btn a {
        color: white;
        text-decoration: none;
    }
    header .header-round-btn {
        background-color: rgb(120, 174, 191);
        padding: 4% 3%;
        border-radius: 50%;
        border: none;
        font-size: larger;
    }
    header .header-round-btn:hover {
        cursor: pointer;
        background-color: rgba(120, 174, 191, 0.5);
    }
    header .header-round-btn a {
        color: white;
        text-decoration: none;
    }
    header .profile-btn {
        background-color: rgb(120, 174, 191);
        border-radius: 5px;
        padding: 2%;
        height: 50%;
        align-self: left;
        text-align: left;
        border: none;
        font-size: x-large;
    }
    
    header .cart-btn {
        background-color: rgb(120, 174, 191);
        border-radius: 5px;
        padding: 2%;
        height: 50%;
        align-self: left;
        text-align: left;
        border: none;
        font-size: x-large;
    }
    header .shop-btn {
        background-color: rgb(120, 174, 191);
        border-radius: 5px;
        padding: 2%;
        height: 50%;
        align-self: left;
        text-align: left;
        border: none;
        font-size: x-large;
    }
    header .clock-btn {
        background-color: rgb(120, 174, 191);
        border-radius: 5px;
        padding: 2%;
        height: 50%;
        align-self: left;
        text-align: left;
        border: none;
        font-size: x-large;
    }
    header .logout-btn {
        background-color: rgb(120, 174, 191);
        border-radius: 5px;
        padding: 2%;
        height: 50%;
        align-self: left;
        text-align: left;
        border: none;
        font-size: x-large;
    }
    header button {
        position: relative;
        display: inline-block;
    }
    header button:hover {
        cursor: pointer;
        background-color: rgba(120, 174, 191, 0.5);
    }
    
    header button .tooltip-text {
        visibility: hidden;
        background-color: rgba(120, 174, 191, 1);
        color: white;
        text-align: center;
        padding: 3px;
        position: absolute;
        z-index: 1;
        bottom: -40%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: large;
    }
      
    header button:hover .tooltip-text {
        visibility: visible;
    } 

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container .shop-block{
    width: 25%;
    background-color: rgb(120, 174, 191);
    padding: 3% 3%;
}
    .container .shop-block .image-preview{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container .shop-block button{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: x-large;
        text-decoration: none;
        background-color: rgb(255, 112, 112);
        color: white;
        cursor: pointer;
    }

    .round-btn {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: red;
    }
    
    .item-count {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: white;
        background-color: red;
        padding: 2px 4px;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        right: -5px;
      }
      
.container .purchases-block{
    width: 25%;
    background-color: rgb(120, 174, 191);
    padding: 3% 3%;
    display: flex;
    flex-direction: column;
}

.container .purchases-block button{
    width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: x-large;
        text-decoration: none;
        background-color: rgb(255, 112, 112);
        color: white;
        cursor: pointer;
}

    .container h3{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container2 {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .container2 .cart-block{
        width: 25%;
        background-color: rgb(120, 174, 191);
        padding: 3% 3%;
        display: flex;
        flex-direction: column;
    }
    
        .container2 .cart-block .text{
            text-align: center;
            font-weight: 900;
        }

        .container2 .cart-block .text button{
            width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-size: x-large;
                text-decoration: none;
                background-color: rgb(255, 112, 112);
                color: white;
                cursor: pointer;
        }

    .container2 .purchases-block{
        width: 25%;
        background-color: rgb(120, 174, 191);
        padding: 3% 3%;
        display: flex;
        flex-direction: column;
    }
        .container2 .purchases-block button{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: x-large;
            text-decoration: none;
            background-color: rgb(255, 112, 112);
            color: white;
            cursor: pointer;
        }

footer {
    background-color: rgb(217, 217, 217);
    padding: 3.5%;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: x-large;
}